ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    background-color: yellow;
}

ul li {
    display: inline-block; 
}

ul li a {
    display: block; 
    color: black;
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}

ul li a:hover {
    background-color: #111111; 
}


@media screen and (max-width: 768px) {
    ul {
        display: block; 
        width: 100px; 
    }

    ul li {
        display: block;
        margin-left: 0; 
    }

    ul li a {
        padding: 10px; 
    }
}