body {
    margin: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

ul li {
    display: inline-block;
    margin-left: 100px;
}

ul li a {
    display: block; 
    color: black; 
    text-align: center; 
    padding: 10px 12px; 
    text-decoration: none; 
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: whitesmoke; 
    color: burlywood;
}

nav ul img {
    width: 90px; 
    height: 90px
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(85, 199, 85);
}

.title2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    ul {
        flex-direction: column; 
        width: 100%; 
    }

    ul li {
        margin: 5px 0; 
    }

    ul li a {
        padding: 10px; 
        text-align: center; 
    }
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.left-side {
    flex: 1;
    padding: 20px;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img {
    max-width: 100%;
    height: auto;
    display: block;
}

.nav-list2 {
    background-color: rgb(69, 146, 69);
    color: white;
}
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .left-side, .right-side {
        padding: 10px;
    }
}